main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  vertical-align: center;
  line-height: 100vh
}

.game-container {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 0;
}

.box {
  height: 40px;
  border: 2px solid black;
  line-height: 40px;
  text-align: center;
  
}